header li{
  float:left;
  padding:0 0.5em 0 0;
}
ul{
  list-style-type:none;
  margin:0 !important;
  padding:0;
}
._clear{
  clear:both;
  display:block;
}
h1,h2,h3,h4,h5,h6{
  margin:0 !important;
}
article{
  margin-bottom:2em;
  padding:0.5em;
}
article:hover{
  background-color:#f4f4f4;
  border-radius: .5em;
  -moz-border-radius: .5em;
  -webkit-border-radius: .5em;
  -o-border-radius: .5em;
  -ms-border-radius: .5em;
}

.my-form{
  padding:1em;
}
.container-fluid{
  padding:0 !important;
}


.posted-on{
  font-size:80%;
}

/**** HEADER***/
.header{
  margin:0 0 2em 0;
  height:10em;
  background:#123;
  color:#fff;
  padding:1em;
}
