<aside>
    <div class="list-group">
      <a href="#" class="list-group-item active">Latest Posts</a>
      <a ui-sref="blog.article({article: post.title, id: post.pid})" class="list-group-item" ng-repeat="post in blogs | limitTo: 4 | reverse">{{post.title | ucwords}}</a>
      <p class="list-group-item" ng-show="!hasPost()">No posts yet.</p>
    </div>


  <div class="list-group" ng-init="categories = 0">
    <a href="#" class="list-group-item active">Categories</a>
    <a href="#" class="list-group-item" ng-repeat="item in categories">{{item | ucwords}}</a>
    <p ng-hide="categories" class="list-group-item" ng-hide="tags">No comments yet.</p>
  </div>

  <div class="list-group" ng-init="tags = 0">
    <a href="#" class="list-group-item active">Tags</a>
    <a href="" ng-show="tags"> tags </a>
    <p class="list-group-item" ng-hide="tags">No tags yet.</p>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Recent Comments</div>
      <div class="panel-body" ng-init="comments = 0">
      <ul ng-show="comments">
          <li><a href="">THe quick brown fox jumps over the lazy dog.</a></li>
          <li><a href="">THe quick brown fox jumps over the lazy dog.</a></li>
          <li><a href="">THe quick brown fox jumps over the lazy dog.</a></li>
      </ul>
      <p ng-hide="comments">No comments yet.</p>
    </div>
  </div>
</aside>
